<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nazwa produktu</th>
      <th scope="col">Kategoria</th>
      <th scope="col">Cena za sztuke</th>
      <th scope="col">Ilość</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredPostions">
      <td scope="row">{{ item.name }}</td>
      <td scope="row">{{ item.category }}</td>
      <td scope="row">
        <app-currency [value]="item.cost"></app-currency>
      </td>
      <td scope="row">{{ item.quantity }} szt</td>
    </tr>
  </tbody>
</table>
