<div class="modal-header">
  <h4 class="modal-title">Usuwanie zamówienia</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Close')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Czy napewno chcesz usunąć zamówienie od ID: {{ id }}?</p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close(id)"
  >
    Tak
  </button>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close')"
  >
    Nie
  </button>
</div>
