<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles">
      <div class="col p-md-0">
        <h4>Panel użytkowników</h4>
      </div>
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/" routerLinkActive="active">Strona główna</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/users" routerLinkActive="active">Użytkownicy</a>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="form-row">
              <div class="form-group m-b-0">
                <app-add-user></app-add-user>
              </div>
            </div>
            <h4 class="card-title mb-4">Użytkownicy</h4>
            <div class="table-responsive">
              <table
                class="table verticle-middle table-hover"
                style="min-width: 400px"
              >
                <thead>
                  <tr>
                    <th scope="col">Login</th>
                    <th scope="col">Email</th>
                    <th scope="col">Data utworzenia</th>
                    <th scope="col">Rola</th>
                    <th scope="col">Akcje</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let uN of usersList">
                    <ng-container *ngIf="uN.id == rowEdit">
                      <td>
                        <input
                          class="form-control form-control-sm"
                          value="{{ uN.name }}"
                          [(ngModel)]="this.form.name"
                        />
                      </td>
                      <td>
                        <input
                          class="form-control form-control-sm"
                          value="{{ uN.email }}"
                          [(ngModel)]="this.form.email"
                        />
                      </td>
                      <td>{{ uN.created_at }}</td>
                      <ng-container *ngIf="isEditAdmin(uN.id)">
                        <td>
                          <select
                            class="btn"
                            data-width="auto"
                            [(ngModel)]="this.form.role"
                          >
                            <option value="pracownik">Pracownik</option>
                            <option value="admin" selected="selected">
                              Admin
                            </option>
                          </select>
                        </td>
                      </ng-container>

                      <ng-container *ngIf="!isEditAdmin(uN.id)">
                        <td>
                          <select
                            class="btn"
                            data-width="auto"
                            [(ngModel)]="this.form.role"
                          >
                            <option selected="selected" value="pracownik">
                              Pracownik
                            </option>
                            <option value="admin">Admin</option>
                          </select>
                        </td>
                      </ng-container>
                      <td>
                        <span
                          ><a
                            href=""
                            class="mr-4"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Edit"
                            (click)="editRow($event, uN.id)"
                            ><i class="fa fa-check color-muted"></i> </a
                          ><a
                            href=""
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Close"
                            (click)="closeRowEdit($event)"
                            ><i class="fa fa-close color-danger"></i></a
                        ></span>
                      </td>
                    </ng-container>
                    <ng-container *ngIf="uN.id != rowEdit">
                      <tr>
                        <td>{{ uN.name }}</td>
                        <td>{{ uN.email }}</td>
                        <td>{{ uN.created_at }}</td>
                        <td>{{ uN.usertype }}</td>
                        <td>
                          <span
                            ><a
                              href=""
                              class="mr-4"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Edit"
                              (click)="rowEditChange($event, uN.id)"
                              ><i class="fa fa-pencil color-muted"></i> </a
                            ><a
                              href=""
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Close"
                              (click)="deleteUser($event, uN.id)"
                              ><i class="fa fa-trash color-danger"></i></a
                          ></span>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
